<div class="movie-cards">
    <div class="movie-cards-image">
        <img [src]="movie.imageUrl" alt="{{ movie.title }}" class="movie-image">
    </div>

    <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <p class="movie-overview">{{ movie.overview }}</p>
        <p> Тривалість: {{ movie.duration | duration}}</p>
        <p>Дата виходу: {{ movie.release_date | releaseDate}}</p>
        <p>Рейтинг: {{ movie.rating }}</p>
    </div>
    <div class="movie-buttons">
        <button (click)="onSelectFavMovie(movie)" title="Улюблені">🤍</button>
        <button (click)="onSelectWatchMovie(movie)" title="Переглянути пізніше">🎦</button>
    </div>
</div>