.header-nav {
    display: flex;
    justify-content: end;
    padding: 20px 100px 20px 0px;
    column-gap: 50px;
    font-size: 20px;
    font-weight: bold;

    .link {
        cursor: pointer;
    }
}